@import './../../sass/variables.scss';

.filterContainer {
  display: block;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  box-shadow: 0px 10px 30px 0px $primary-shodow;
  margin-top: -80px;
  margin-bottom: 50px;
  background-color: $white;
  position: sticky;
  top: 10px;
  z-index: 1;
  // width: 100%;
}

.filterTagsList {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.filterTagItem {
  display: flex;
  background-color: $light-grayish-bg;
  color: $primary;
  font-weight: 700;
  border-radius: 5px;
  .text {
    padding: 7px;
  }
}

.btnFilterRemove {
  display: block;
  width: 28px;
  border-radius: 0 5px 5px 0;
  background-color: $primary;
  background-image: url('/images/icon-remove.svg');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: $very-dark-grayish;
  }
}
.btnClear {
  background-color: transparent;
  border: none;
  color: $dark-grayish;
  font-weight: 700;
  font-family: 'League Spartan';

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: $primary;
  }
}
